div.billcard {
  display: flex;
  flex-flow: column;
  border: 1px solid #c7c7c7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  min-height: 15em;
  justify-content: space-between;
  border-radius: 5px;
  min-width: 250px;
}

div.billcard:hover {
  background: rgb(241, 236, 236);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

button.bill-details {
  background: #8daf8d;
  border: 1px solid #5ba75b;
  align-self: center;
  width: 65%;
  border-radius: 2%;
  margin-bottom: 5px;
  min-height: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

button.bill-details:hover {
  background: #205820;
  border: 1px solid black;
  color: white;
}

.bill-id-type-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.p-button-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

h1 {
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: 2px;
  margin-bottom: 5px;
}

p {
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
